*{
    padding: 0;
    margin: 0;
    user-select: none;
    align-items: center;
    justify-content: center;
    
}

body{
    background-color: rgb(215, 241, 250);
}

#heading{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 5%;
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 10% 0px 10%;

}
input{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin: 0px 20px 0px 20px;

}

#specific-verse{
    display: none;
}


label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#book{
    padding: 10px;
    width: 20%;
}

#verse{
   margin-top: 20px;
   padding: 10px;
}

#chapter{
    padding: 10px;
}

#btn-id{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}

#verseCard{

    margin: 5% 10% 10% 10%;
    border: solid rgb(255, 255, 255);
    background-color: rgb(142, 197, 255,0.2);
}

#fromText{
    padding-left: 70%;
}

@media (max-width: 768px) {

    #getVerse-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: auto;   
        margin: 10px;
    }    
     #getbtns{
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 20%;
     }
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20% 10% 0px 10%;
    }

    #numbers{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    #chapter{
        margin-top: 20px;
        padding: 10px;
    }
    #verse{
        padding: 10px;
    }

    #book{
        width: 60%;
    }

  }
  

